@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Hairline.ttf');
  font-weight: 100;
}

@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Thin.ttf');
  font-weight: 200;
}

@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Book.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Bold.ttf');
  font-weight: 700;
}

/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  scroll-padding: 0;
  scroll-snap-type: proximity;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: gainsboro;
  color: black;
  font-family: 'Centra', sans-serif !important;
}

.fullpage-nav {
  scroll-snap-align: start;
  overflow-y: scroll;
}

#accueil,
#contact {
  padding-top: 5rem;
  width: 100vw;
  height: 100vh;
}

#doublage,
#sous-titrage,
#voice-over,
#jeux-video,
#sme {
  padding-top: 4rem;
  scroll-behavior: smooth;
  padding-bottom: 2rem;
}

.separation-sections {
  height: 5px;
  background-color: rgb(212, 205, 216);
  box-shadow: 0 0 0.3vw 0.1vw rgb(222, 222, 222),
    0 0 1vw 0.5vw rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.home-title h1 {
  font-size: 6.75rem;
  font-weight: 100;
  line-height: 1;
  padding-top: 3rem;
}

.home-title h2 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 1rem;
  margin-top: 1rem;
}

nav.navbar {
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: background-color 0.32s ease-in-out;
}

.bg2 {
  padding-bottom: 3rem;
}

nav.navbar.scrolled {
  padding: 18px 0;
  transition: 0.32 ease-in-out;
}

nav.navbar .logo {
  width: 70px;
  height: 70px;
}

nav.navbar.scrolled .logo {
  filter: invert(100%);
  transition: 0.32 ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: rgb(16, 16, 16);
  transition: background-color 0.32s ease-in-out;
}

nav.navbar .social-icon,
nav.navbar button {
  filter: invert(100%);
}

nav.navbar.scrolled .social-icon,
nav.navbar.scrolled button {
  filter: invert(0%);
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav a.nav-link:hover,
nav.navbar .navbar-nav a.nav-link.active,
#collasible-nav-dropdown {
  opacity: 1;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

nav.navbar .navbar-nav a.nav-link,
#item {
  opacity: 0.8;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

nav.navbar.scrolled .navbar-nav a.nav-link:hover,
nav.navbar.scrolled .navbar-nav a.nav-link.active,
nav.navbar.scrolled #collasible-nav-dropdown {
  opacity: 1;
  color: rgb(212, 202, 255);
  font-weight: 700;
}

nav.navbar.scrolled .navbar-nav a.nav-link,
nav.navbar.scrolled #item {
  opacity: 0.8;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1.5px solid rgba(0, 0, 0, 1);
  filter: invert(100%);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 70%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(98%) hue-rotate(345deg);
}

.navbar-text button {
  font-weight: 700;
  color: gainsboro;
  border: 2px solide gainsboro;
  padding: 12px 22px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: gainsboro;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: rgb(0, 0, 0);
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-nav-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid white;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solide white;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: white;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: white;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: white;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.App {
  text-align: center;
}

.image-profil {
  margin-top: 30px;
  margin-bottom: 30px;
}

#profil-picture {

  box-shadow: 0 0 0.1vw 0.1vw #ffffff,
    0 0 1vw 0.4vw #ffffff;
}

.wrap {
  overflow: hidden;
  border-right: .1em solid rgb(36, 36, 36);
  white-space: nowrap;
  margin: 0 auto;
  animation:
    blink-caret 1.2s step-end infinite;
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: rgb(36, 36, 36);
  }
}

.travaux h2 {
  --s: 0.1em;
  /* the thickness of the line */
  --c: #000000;
  /* the color */

  color: rgba(255, 255, 255, 0);
  padding-bottom: var(--s);
  background:
    linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 45;
  font-weight: 700;
  text-align: center;
}

.travaux h2:hover {
  --_p: 100%
}

.v p {
  width: 56%;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.8px;
  font-size: 18px;
  margin: 14px auto 30px auto;
}

.proj-img {
  justify-content: center;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
  height: 300px;
  width: 250px;
}

.carte {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proj-img::before {
  content: "";
  background: white;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-img:hover::before {
  height: 100%;
}

.proj-txt {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-img:hover .proj-txt {
  top: 50%;
  opacity: 1;
}

.proj-txt h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1;
}

.proj-txt span {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}