/********************************
 * Fonts 
 ********************************/
@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Hairline.ttf');
  font-weight: 100;
}

@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Thin.ttf');
  font-weight: 200;
}

@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Book.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/fonts/CentraNo2-Bold.ttf');
  font-weight: 700;
}

/********************************
 * Default CSS
 ********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  scroll-padding: 0;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: gainsboro;
  color: black;
  font-family: 'Centra', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.App {
  text-align: center;
}

@media (prefers-color-scheme: dark) {

}

/********************************
 * Pages navigation 
 ********************************/

.fullpage-nav {
  overflow-y: scroll;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  width: 100vw;
  min-height: 100vh;
  padding-top: 5rem;
}

@media only screen and (max-width: 600px) {
 .fullpage-nav {
   scroll-snap-align: none;
 }
}

#accueil {
  width: 100vw;
  min-height: 100vh;
}


.separation-sections {
  height: 5px;
  background-color: rgb(212, 205, 216);
  box-shadow: 0 0 0.3vw 0.1vw rgb(222, 222, 222),
    0 0 1vw 0.5vw rgb(255, 255, 255);
}

/********************************
 * Navbar
 ********************************/

nav.navbar {
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: background-color 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 18px 0;
  transition: 0.32 ease-in-out;
}

nav.navbar .logo {
  width: 70px;
  height: 70px;
}

nav.navbar.scrolled .logo {
  filter: invert(100%);
  transition: 0.32 ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: rgb(16, 16, 16);
  transition: background-color 0.32s ease-in-out;
}

nav.navbar .social-icon,
nav.navbar .btn {
  filter: invert(100%);
}

nav.navbar.scrolled .social-icon,
nav.navbar.scrolled .btn {
  filter: invert(0%);
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav a.nav-link:hover,
nav.navbar .navbar-nav a.nav-link.active-item{
  opacity: 1;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

nav.navbar .navbar-nav a.nav-link,
#item {
  opacity: 0.8;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

nav.navbar.scrolled .navbar-nav a.nav-link:hover,
nav.navbar.scrolled .navbar-nav a.nav-link.active-item{
  opacity: 1;
  color: rgb(212, 202, 255);
  font-weight: 700;
}

nav.navbar.scrolled .navbar-nav a.nav-link,
nav.navbar.scrolled #item {
  opacity: 0.8;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1.5px solid rgba(0, 0, 0, 1);
  filter: invert(100%);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a:hover {
  cursor: pointer;
}

.social-icon a img {
  width: 70%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(98%) hue-rotate(345deg);
}

.navbar-text .btn {
  font-weight: 700;
  color: gainsboro;
  border: 2px solide gainsboro;
  padding: 12px 22px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text .btn::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: gainsboro;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text .btn:hover {
  color: rgb(0, 0, 0);
}

.navbar-text .btn:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-nav-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid white;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solide white;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: white;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: white;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: white;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/********************************
 * Banner page
 ********************************/

.home-title h1 {
  font-size: 6.75rem;
  font-weight: 100;
  line-height: 1;
  padding-top: 3rem;
}

.home-title h2 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 1rem;
  margin-top: 1rem;
}

.image-profil {
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-go-down img {
  margin-top: 20px;
  margin-bottom: 2rem;
  opacity: 0.5;
  filter: blur(0.5px);
  transition: 0.2s ease-in-out;
  animation: MoveUpDown 3s forwards infinite;
  position: relative;
}

.image-go-down img:hover {
  opacity: 0.8;
  filter: blur(0px);
}

#profil-picture {
  box-shadow: 0 0 0.1vw 0.1vw #ffffff,
    0 0 1vw 0.4vw #ffffff;
}

.wrap {
  overflow: hidden;
  border-right: .1em solid rgb(36, 36, 36);
  white-space: nowrap;
  margin: 0 auto;
  animation:
    blink-caret 1.2s step-end infinite;
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: rgb(36, 36, 36);
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/********************************
 * Work pages
 ********************************/
 
.travaux h2,
.contact h2 {
  color: rgb(0, 0, 0);
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 45;
  font-weight: 700;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .travaux {
    background-color: #cdccd0;
  }
}

.v p {
  width: 56%;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.8px;
  font-size: 18px;
  margin: 14px auto 30px auto;
}

.proj-div {
  justify-content: center;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
  height: 300px;
  width: 250px;
  transition: .1s;
}

.carte {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proj-div::before {
  content: "";
  background: white;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-div:hover::before {
  height: 100%;
}

.proj-div:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
  box-shadow: 0px 3px 10px black;
}

.proj-txt {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  padding: 5px;
}

.proj-div:hover .proj-txt {
  top: 50%;
  opacity: 1;
}

.proj-txt h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1;
  font-style: italic;
}

.proj-txt h5 {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: normal;
  margin-bottom: 0;
}

.proj-txt h6 {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: normal;
  margin-bottom: 0;
}

.proj-txt .proj-descr {
  border: 2px solid black;
  background-color: rgb(255, 247, 254);
  border-radius: 10px;
  padding: 3px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.proj-btn {
  background-image: linear-gradient(45deg, #b4b4b4, #ffffff);
  border-radius: 40px;
  box-sizing: border-box;
  color: #dedede;
  display: block;
  height: 40px;
  width: 150px;
  font-size: 15px;
  padding: 4px;
  position: relative;
  text-decoration: none;
  z-index: 2;
  margin: 8px auto;
  box-shadow: 0 1px 3px black;
}

.proj-btn:hover {
  color: rgb(0, 0, 0);
  font-weight: 700;
  transition: 0.32s ease-in-out;
}

.proj-btn .proj-btn-span {
  align-items: center;
  background: #0e0e10;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.proj-btn:hover .proj-btn-span {
  background: transparent;
}

.proj-div img {
  object-fit: cover;
  min-height: 100%;
  width: 100%;
}

#proj-tab-tab-doublage,
#proj-tab-tab-soustitrage,
#proj-tab-tab-voiceover,
#proj-tab-tab-jeuxvideo,
#proj-tab-tab-sme {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff40;
  padding: 5px;
  width: 10rem;
  height: 3rem;
  line-height: 1;
  font-size: 16px;
  color: black;
  margin: 5px;
  border-radius: 1rem;
  box-shadow: 0 0 3px #0e0e1030;
  transition: 0.2s ease-in-out;
}

#proj-tab-tab-doublage.nav-link:hover,
#proj-tab-tab-soustitrage.nav-link:hover,
#proj-tab-tab-voiceover.nav-link:hover,
#proj-tab-tab-jeuxvideo.nav-link:hover,
#proj-tab-tab-sme.nav-link:hover {
  background-color: #ffffffcb;
}

#proj-tab-tab-doublage.nav-link.active,
#proj-tab-tab-soustitrage.nav-link.active,
#proj-tab-tab-voiceover.nav-link.active,
#proj-tab-tab-jeuxvideo.nav-link.active,
#proj-tab-tab-sme.nav-link.active {
  background-image: linear-gradient(45deg, rgb(212, 202, 255), #ffffff);
  scale: 1.05;
  box-shadow: 0 .5px 3px black;
  font-weight: 600;
}

.tab-pane {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.tab-pane.active {
  opacity: 1;
}


.proj-img-1,
.proj-img-2,
.proj-img-3,
.proj-img-4,
.proj-img-5
 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  bottom: 100vh;
  right: 0;
  z-index: -4;
  transition: 3s ease-in-out;
}

.proj-img-1 {
  animation: animatebg1 40s forwards infinite ease-in-out;
}

@keyframes animatebg1 {
  0% {
    opacity: 1;
  }
  20%, 80% {
    opacity: 0;
  }
}

.proj-img-2 {
  animation: animatebg2 40s forwards infinite ease-in-out;
}

@keyframes animatebg2 {
  20% {
    opacity: 1;
  }
  40%, 100% {
    opacity: 0;
  }
}

.proj-img-3 {
  animation: animatebg3 40s forwards infinite ease-in-out;
}

@keyframes animatebg3 {
  40% {
    opacity: 1;
  }
  60%, 100%, 20% {
    opacity: 0;
  }
}

.proj-img-4 {
  animation: animatebg4 40s forwards infinite ease-in-out;
}

@keyframes animatebg4 {
  60% {
    opacity: 1;
  }
  80%, 40% {
    opacity: 0;
  }
}